services:
  db:
    image: neondatabase/neon_local:latest
    ports:
      - '5432:5432'
    environment:
      NEON_API_KEY: ${NEON_API_KEY}
      NEON_PROJECT_ID: ${NEON_PROJECT_ID}
      BRANCH_ID: ${BRANCH_ID}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "neondb_owner", "-d", "neondb"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s
