---
- name: Configure K3s cluster
  hosts: k3s_cluster
  become: true
  gather_facts: true
  roles:
    - role: k3s

- name: Install Traefik ingress
  hosts: master
  become: true
  gather_facts: false
  roles:
    - role: traefik
