apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nexo-cloud

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - secret.yaml

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/part-of: nexo-cloud
